<div class="date-picker">
    <div class="inputs-wrapper">
        <input data-target="start"
           class="start"
           type="date"
           ng-model="range.start" />
        <input data-target="end"
           class="end"
           type="date"
           ng-model="range.end" />
        <div class="inputs-cover" ng-class="{ 'no-border-bottom': calendar.isPicking }">
            <span ng-class="{ active: calendar.isPicking === 'start' }">{{getStart()}}</span>
            -
            <span ng-class="{ active: calendar.isPicking === 'end' }">{{getEnd()}}</span>
        </div>
    </div>
    
    <div class="calendar" ng-class="{ visible: calendar.isPicking }">
        <div class="year">
            <span class="prev" ng-click="calendar.prevYear()"></span>
            {{calendar.year}}
            <span class="next" ng-click="calendar.nextYear()"></span>
        </div>
        <div class="months">
            <span ng-repeat="item in calendar.months"
                  ng-class="{ current: calendar.isCurrentMonth(item.month), selected: calendar.isSelectedMonth(item.month), disabled: calendar.monthIsDisabled(item.month) }"
                  ng-click="calendar.selectDate(item.month)">{{item.name}}</span>
        </div>
        <button class="set-date" ng-click="calendar.setDate()" ng-disabled="calendar.isNotValidRange()">
            Set Date
        </button>
    </div>
</div>